<footer
  class="footer bg-dark navbar-fixed-bottom"
  style="margin-top: auto; max-width: 100vw"
>
  <div class="row">
    <div class="col-6 about-us">hey</div>
    <div class="col-6 contact us">hey</div>
  </div>
</footer>

<style>
  .about-us {
    color: white;
  }
</style>
