<% layout('layouts/boilerplate')%>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="mb-3">Prijava</h1>
      <form action="/login" method="POST" novalidate class="validated-form">
        <div class="mb-2">
          <label class="form-label" for="username">Uporabniško ime:</label>
          <input
            class="form-control"
            type="text"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-2">
          <label class="form-label" for="password">Geslo:</label>
          <input
            class="form-control"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
        <button class="mt-3 btn btn-success">Prijava</button>
      </form>
    </div>
  </div>
</div>
